---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

```
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AdaWang33',
    repo: 'yaofeiWang.github.io',
    oauth: {
        client_id: 'Iv1.10e10a9fa163d54d',
        client_secret: 'f0dfc80022963e285d9595e034949ce8394103f3',
    },
});
gitment.render('gitmentContainer');
</script>
```